@{
    ViewData["WebsiteName"] = "Villanite";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["WebsiteName"]</title>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="SiteHeader">
        <div id="MainNav">
            <a id="Logo" href="/">Villanite</a>
            <div id="MenuOpener" onclick="toggleMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <nav id="SiteNav" role="navigation">
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="ToDo">To-Do List</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="HardwareSoftware">Hardware &amp; Software List</a>
                    </li>                   
                </ul>
            </nav>
        </div>
    </header>
    <div id="SiteBody">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div id="CookieNotice" class="d-none">
        <div class="cookie-wrapper">
            <div class="notice-text">
                <span>
                    By using this website, you understand that this site may be collecting information about your browser session and using cookies
                    to track your journey. If you do not want this information tracked, please leave this site. You can close this message by clicking
                    on the "I Understand" button.
                </span>
            </div>
            <div class="notice-button">
                <button class="btn btn-primary btn-full-width" onclick="acceptCookieNotice();">I Understand</button>
            </div>
        </div>
    </div>

    <footer id="SiteFooter">
        <div>
            &copy; 2021 Order of the Nesur - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            if (getCookie("V_AcceptedCookieNotice") != "true") {
                document.getElementById("CookieNotice").classList.toggle("d-none");
            }
        });
    </script>
</body>
</html>
