@{
    ViewData["Title"] = "Your Browser Info Has Been Submitted";
}

<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <div class="notification positive">
        <p>
            Thank you for taking the time to send us your browser info! The development team for this website will review your submission and
            do what we can to make sure your browser is supported, so long as it is a widely used browser.
        </p>
    </div>
</article>