@{
    ViewData["Title"] = "Hardware & Software List";
}
<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <p>
        Below is a list of all hardware/software used by Villanite when streaming and/or creating
        any other content. This list does not necessarily represent any kind of partnerships or,
        endorsements, but rather simply exists for reference purposes.
    </p>
    <p>
        If anything is missing from this list, please feel free to bring it up on stream and ask about it.
    </p>
    <section>
        <header>
            <h3>Hardware</h3>
        </header>
        <ul>
            <li>
                Headset - V-MODA Crossfade 2
            </li>
            <li>
                Microphone - V-MODA BoomPro Microphone
            </li>
            <li>
                Camera - Logitech C920 HD Pro Webcam
            </li>
            <li>
                Game Controller - Xbox Series 2 Elite Controller
            </li>
            <li>
                External Sound Card -  Creative Sound BlasterX G6
            </li>
        </ul>
    </section>
    <section>
        <header>
            <h3>Software</h3>
        </header>
        <ul>
            <li>
                Streaming Software - OBS Studio
            </li>
            <li>
                Music Player - VLC Media Player
            </li>
            <li>
                Development Environment - Visual Studio 2019 Community Edition
            </li>
            <li>
                Face Tracking - VSeeFace
            </li>
            <li>
                3D Model Creator - VRoidStudio
            </li>
            <li>
                Voice Quality - VoiceMeeter
            </li>
            <li>
                Voice Alteration - Sound Blaster Connect 2
            </li>
            <li>
                Image Editing - Adobe Photoshop 2021
            </li>
            <li>
                Video Editing - Adobe Premiere Pro 2020
            </li>
            <li>
                Animation Editing - Adobe After Effects 2020
            </li>
        </ul>
    </section>
</article>
