@{
    ViewData["Title"] = "Welcome";
}

<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <p>
        This website is meant to be a community project built only on-stream. Any updates to logic,
        code, or design aspects will happen on-stream with viewer input.
    </p>
</article>
