@{
    ViewData["Title"] = "Welcome";
}

<div>
    <article>
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>
        <p>
            This website is meant to be a community project built only on-stream. Any updates to logic,
            code, or design aspects will happen on-stream with viewer input.
        </p>
    </article>
    <article>
        <header>
            <h2>To-Do List</h2>
        </header>
        <p>
            Below is a running to-do list of what Villanite needs to do. As things are checked off, they'll be
            crossed out with a Strikethrough for now. Maybe eventually, we'll move done items to their own list for archiving
            purposes.
        </p>
        <ol>
            <li class="done">
                Make Site work on Chrome Mobile.
            </li>
            <li class="done">
                Make Site work on Chrome Desktop.
            </li>
            <li class="done">
                Default to Dark Mode for Site.
            </li>
            <li class="done">
                Create Hardware/Software Section for Site.
            </li>
            <li>
                Support Dark/Light Mode Changing for Site.
            </li>
            <li class="done">
                Put To-Do List on Web Page for Site.
            </li>
            <li>
                Add the ability to request Browser Support for Site.
            </li>
            <li>
                Review Hosting Services (Azure, AWS, GoDaddy, Google Cloud, Dreamhost).
            </li>
            <li>
                Select a Hosting Service for Site.
            </li>
            <li>
                Start Using Proper Fonts for Site.
            </li>
            <li>
                Switch to SASS/SCSS using WebPack for Site.
            </li>
            <li>
                Build out navigation for Site.
            </li>
            <li>
                Move To-Do and Hardware/Software to their own pages.
            </li>
            <li>
                Set up Minecraft Server. Because we're a bunch of fucking children.
            </li>
        </ol>
    </article>
    <article>
        <header><h2>Hardware/Software List</h2></header>
        <p>
            Below is a list of all hardware/software used by Villanite when streaming and/or creating
            any other content. This list does not necessarily represent any kind of partnerships or,
            endorsements, but rather simply exists for reference purposes.
        </p>
        <p>
            If anything is missing from this list, please feel free to bring it up on stream and ask about it.
        </p>
        <section>
            <header>
                <h3>Hardware</h3>
            </header>
            <ul>
                <li>
                    Headset - V-MODA Crossfade 2
                </li>
                <li>
                    Microphone - V-MODA BoomPro Microphone
                </li>
                <li>
                    Camera - Logitech C920 HD Pro Webcam
                </li>
                <li>
                    Game Controller - Xbox Series 2 Elite Controller
                </li>
                <li>
                    External Sound Card -  Creative Sound BlasterX G6
                </li>
            </ul>
        </section>
        <section>
            <header>
                <h3>Software</h3>
            </header>
            <ul>
                <li>
                    Streaming Software - OBS Studio
                </li>
                <li>
                    Music Player - VLC Media Player
                </li>
                <li>
                    Development Environment - Visual Studio 2019 Community Edition
                </li>
                <li>
                    Face Tracking - VSeeFace
                </li>
                <li>
                    3D Model Creator - VRoidStudio
                </li>
                <li>
                    Voice Quality - VoiceMeeter
                </li>
                <li>
                    Voice Alteration - Sound Blaster Connect 2
                </li>
            </ul>
        </section>
    </article>
</div>
