@{
    ViewData["Title"] = "Privacy Policy";
}
<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <p>
        @ViewBag.Temp
    </p>
    <p>
        This privacy policy may change in the future, but for
        the time we will operate with the
        <a href="https://www.privacypolicies.com/generic/" target="_blank" rel="nofollow">generic privacy policy provided by PrivacyPolicies.com.</a>
    </p>
</article>