@{
    ViewData["Title"] = "To-Do List";
}
<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <p>
        Below is a running to-do list of what Villanite needs to do. As things are checked off, they'll be
        crossed out with a Strikethrough for now. Maybe eventually, we'll move done items to their own list for archiving
        purposes.
    </p>
    <ol>
        <li>
            Finish items on <a href="https://github.com/Villanite-Enterprises/VillaniteSite/issues"
                               target="_blank" rel="nofollow">GitHub Issues</a>.
        </li>
        <li>
            Set up Minecraft Server. Because we're a bunch of fucking children.
        </li>
    </ol>
</article>
