@import "globals.scss";

#MainNav {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.75rem;
    line-height: 1.75rem;
    justify-content: space-between;
    padding: 1rem 0 0 0;
    border-bottom: 1px solid $gold;
    box-shadow: 0px -8px 10px 5px $gold;
    position: fixed;
    width: 100%;
    background: $black;

    > a, > div {
        flex: 1 auto;
        margin-bottom: 1rem;
    }
}

#Logo {
    font-family: $title-font;
    background-image: url('/images/Brand-Gold-Nesur.png');
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-left: 1.25em;
    margin-left: 1rem;
    font-size: 1.75rem;
    text-decoration: none;

    &:hover {
        background-image: url('/images/Brand-DarkGold-Nesur.png');
    }
}

#MenuOpener {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    cursor: pointer;
    margin-right: 1rem;

    div {
        width: 1em;
        max-height: 0.15em;
        background-color: $gold;
        flex: 1;
        justify-content: space-between;
        transition: 0.4s;
    }

    &:hover div {
        background-color: $darkgold;
    }

    &.menu-open {
        .bar1 {
            transform: rotate(-45deg) translate(-29%, 200%);
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            transform: rotate(45deg) translate(-30%, -200%);
        }
    }
}

#SiteNav {
    flex-basis: 100%;
    display: none;

    &.menu-open {
        display: block;
    }

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        li {
            padding: 0;
            margin: 0;
            list-style: none;

            &:first-child a {
                border-top: 1px solid $gold;
            }
        }

        a {
            text-decoration: none;
            text-align: center;
            display: block;
            line-height: 2em;
            font-size: 1.25rem;
            background: #111;
            border-bottom: 1px dotted $black;

            &:hover {
                background-color: #121212;
            }
        }
    }
}

#SiteBody {
    padding: 3.75rem 1rem 1rem 1rem;
    flex: 1;
    max-width: 1024px;
    margin: 0 auto;
}

#SiteFooter {
    font-size: .75rem;
    text-align: right;
    padding: .5rem 1rem;
    border-top: 1px solid $gold;

    a {
        text-decoration: none;
    }
}

.notification {
    border: 3px solid;
    border-color: #2a2929;
    border-radius: $border-radius-size;
    background-color: #939393;
    color: black;
    padding: 0 1rem;

    &.positive {
        border-color: #12a912;
        background-color: #bdd7bd;
    }

    &.negative {
        border-color: #a91212;
        background-color: #d7bdbd;
    }

    &.warning {
        border-color: #a99812;
        background-color: #d7d4bd;
    }

    &.info {
        border-color: #1272a9;
        background-color: #bdc9d7;
    }
}

.link-boxes {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.link-box {
    background: #222;
    border-radius: $border-radius-size;
    margin: 1rem;

    > div, > a {
        padding: 1rem;
    }

    .link {
        background: #111;
        border-radius: 0 0 $border-radius-size $border-radius-size;
        display: block;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            background: #151515
        }
    }
}

@media only screen and (min-width: 768px) {
    .link-boxes {
        flex-direction: row;
    }

    .link-box {
        flex: 1 0 40%;
    }
}

@media only screen and (min-width: 1024px) {
    #MenuOpener {
        display: none;
    }

    #SiteNav {
        padding: 0 1rem 0 0;
        display: block;
        flex-basis: auto;

        ul {
            flex-direction: row;

            li {
                &:first-child a {
                    border-top: none;
                }

                a {
                    font-size: 1rem;
                    background: $black;
                    border-bottom: none;
                    padding: 0 1em;
                }
            }
        }
    }

    .link-box {
        flex: 1 0 30%;
    }
}
