/*
    Gold: #FFD700 / #d2b204
    Black: #0B0B0B
    Purple: #6F3A80
    White: #E3E3E3
    Title Font: Lora
    Content Font: Roboto
*/

html, body {
    padding: 0;
    margin: 0;
    background-color: #0B0B0B;
    color: #E3E3E3;
    font-family: Roboto, Arial, sans-serif;
}

#MainNav {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.75rem;
    line-height: 1.75rem;
    justify-content: space-between;
    padding: 1rem 0 0 0;
    border-bottom: 1px solid #FFD700;
    box-shadow: 0px -8px 10px 5px #ffd700;
}

    #MainNav > a, #MainNav > div {
        flex: 1 auto;
        margin-bottom: 1rem;
    }

#Logo {
    background-image: url('/images/Brand-Gold-Nesur.png');
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* height: 200px; */
    padding-left: 1.25em;
    margin-left: 1rem;
    font-size: 1.75rem;
    text-decoration: none;
}

    #Logo:hover {
        background-image: url('/images/Brand-DarkGold-Nesur.png');
    }

#MenuOpener {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
}

    #MenuOpener div {
        width: 1em;
        max-height: 0.15em;
        background-color: #FFD700;
        /* margin: 1px; */
        flex: 1;
        justify-content: space-between;
        transition: 0.4s;
    }

    #MenuOpener:hover div {
        background-color: #d2b204;
    }

    #MenuOpener.menu-open .bar1 {
        transform: rotate(-45deg) translate(-29%, 200%);
    }

    #MenuOpener.menu-open .bar2 {
        opacity: 0;
    }

    #MenuOpener.menu-open .bar3 {
        transform: rotate(45deg) translate(-30%, -200%);
    }

#SiteNav {
    flex-basis: 100%;
    display: none;
    /* padding-top: 1rem; */
}

    #SiteNav.menu-open {
        display: block;
    }



#SiteBody, #SiteFooter {
    padding: 1rem;
}

#SiteNav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

    #SiteNav ul li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        #SiteNav ul li a {
            text-decoration: none;
            text-align: center;
            display: block;
            line-height: 2em;
            font-size: 1.25rem;
            background: #111;
            border-bottom: 1px dotted #0B0B0B;
        }

            #SiteNav ul li a:hover {
                background-color: #121212;
            }

        #SiteNav ul li:first-child a {
            border-top: 1px solid #FFD700;
        }

h1, h2, h3, h4, h5, h6, #Logo {
    font-family: "Lora", serif
}

a {
    color: #FFD700;
    transition: 0.2s;
}

    a:hover {
        color: #d2b204;
    }

li.done {
    text-decoration: line-through;
}

@media only screen and (min-width: 1024px) {
    #MainNav {
    }

    #SiteNav {
        padding: 0 1rem 0 0;
        display: block;
        flex-basis: auto;
    }

        #SiteNav ul {
            flex-direction: row;
        }

            #SiteNav ul li {
            }

                #SiteNav ul li a {
                    font-size: 1rem;
                    background: #0B0B0b;
                    border-bottom: none;
                    padding: 0 1em;
                }

                #SiteNav ul li:first-child a {
                    border-top: none;
                }

    #MenuOpener {
        display: none;
    }
}
