/*
    Gold: #FFD700 / #d2b204
    Black: #0B0B0B
    Purple: #6F3A80
    White: #E3E3E3
    Title Font: Lora
    Content Font: Roboto
*/

$black: #0B0B0B;
$black-transparent: rgba(11, 11, 11,.99);
$white: #E3E3E3;

$primary: #FFD700;
$primary-dark: #d2b204;
$secondary: #6F3A80;
$secondary-dark: #633571;

$title-font: "Lora", "serif";
$content-font: "Roboto", "Arial", "sans-serif";

$border-radius-size: .2rem;

$positive-color: #12a912;
$negative-color: #a91212;
$warning-color: #a99812;
$info-color: #1272a9;
$positive-background: #bdd7bd;
$negative-background: #d7bdbd;
$warning-background: #d7d4bd;
$info-background: #bdc9d7;
$negative-dark: #850d0d;
