/*
    Gold: #FFD700 / #d2b204
    Black: #0B0B0B
    Purple: #6F3A80
    White: #E3E3E3
    Title Font: Lora
    Content Font: Roboto
*/

$gold: #FFD700;
$darkgold: #d2b204;
$black: #0B0B0B;
$purple: #6F3A80;
$white: #E3E3E3;
$title-font: "Lora", "serif";
$content-font: "Roboto", "Arial", "sans-serif";
$border-radius-size: .2rem;